header img{
	float: left;
	width: 150px;
}

header div{
	vertical-align: central;
	height:110px;
}
header img{
	float:left;
	margin-right: 20px;
}

header h1{
	font-size:32pt;
	padding-top:30px;
	margin-left:20px;
}


header div,nav,#content{
	max-width: 960px;
	margin: auto;
}

header,nav ,#list,#table,#form,footer{
	background-color: #ccc;
}
nav {
	font-size:28pt;
	margin-top:30px;
}
 
nav a{
	margin:20px;
}

#list a{
	font-size: 24px;
}

#list,#table,#form{
	margin-bottom:30px;
}
table th{
  background-color:#99f;
}
.nch{
  background-color:#999;
}
.ch{
	background-color: #eee;
}
table th,table td{
	font-size:16pt;
}
